#testimonials,
#press,
#pricing,
#cta {
  margin: 1.5rem; }

body {
  font-family: 'Montserrat', sans-serif; }

#title {
  background-color: #ff4c68; }

#navbarSupportedContent {
  font-size: 120%; }
  @media (max-width: 990px) {
    #navbarSupportedContent {
      font-size: 140%; } }
  @media (max-width: 480px) {
    #navbarSupportedContent {
      font-size: 120%; } }

#Tindog-name {
  font-size: 170%;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif; }
  @media (max-width: 990px) {
    #Tindog-name {
      font-size: 200%; } }
  @media (max-width: 480px) {
    #Tindog-name {
      font-size: 170%; } }

.navbar-toggler {
  font-size: 2rem;
  border: none;
  box-shadow: none; }
  .navbar-toggler:focus {
    box-shadow: none; }
  @media (max-width: 480px) {
    .navbar-toggler {
      font-size: 1.75rem; } }

.btn, .btn-outline-light, .btn-lg {
  box-shadow: none; }
  .btn:active, .btn-outline-light:active, .btn-lg:active {
    box-shadow: none; }
  .btn:focus, .btn-outline-light:focus, .btn-lg:focus {
    box-shadow: none; }
  @media (max-width: 375px) {
    .btn, .btn-outline-light, .btn-lg {
      font-size: 1rem; } }

#introduction h1 {
  font-size: 4.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
  margin-top: 15%; }
  @media (max-width: 990px) {
    #introduction h1 {
      font-size: 3.5rem; } }
  @media (max-width: 480px) {
    #introduction h1 {
      font-size: 2.5rem; } }

#introduction.container-fluid {
  padding: 5rem 8% 3rem 8%;
  overflow: hidden;
  height: 850px; }
  @media (max-width: 990px) {
    #introduction.container-fluid {
      padding: 3rem 5% 0 5%;
      height: 870px; } }
  @media (max-width: 480px) {
    #introduction.container-fluid {
      padding: 3rem 5% 0 5%;
      height: 670px; } }
  @media (max-width: 350px) {
    #introduction.container-fluid {
      padding: 3rem 5% 0 5%;
      height: 670px; } }

@media (max-width: 990px) {
  .title-row {
    text-align: center;
    padding-bottom: 3rem; } }

.img-row {
  transform: rotate(25deg);
  padding: 0 0 0 10%;
  width: 50%; }
  @media (max-width: 990px) {
    .img-row {
      width: 80%;
      padding: 0 0 0 20%; } }

/* FEATURES */
.features-item {
  text-align: center;
  font-size: 1.5rem;
  padding: 0 5% 0 5%; }
  @media (max-width: 990px) {
    .features-item {
      padding: 0 10% 0 10%; } }

.features-item > span {
  color: #ef8172;
  font-size: 4.5rem;
  margin: 0 0 20px 0; }
  .features-item > span:hover {
    color: #ff4c68; }

.features-item > h3 {
  font-size: 1.7rem;
  font-weight: 900; }

.features-item > p {
  color: #8f8f8f; }

#features {
  margin: 70px 0 70px 0; }

@media (max-width: 990px) {
  #features .row {
    row-gap: 50px; } }

#press img {
  max-width: 100%; }


