@mixin initial-margin($initial-margin-vertical, $initial-margin-horizontal){
  margin: $initial-margin-vertical $initial-margin-horizontal;
}

@mixin adaptive-font($PcSize, $MobSize) {
  $AddSize: $PcSize - $MobSize;
  $MaxWidth: 1440;
  $AddMobSize: $AddSize + $AddSize * 0.7;
  @media (max-width: 768px) {
    font-size: calc(#{$MobSize + px} + #{$AddMobSize} * ((100vw - 320px) / #{$MaxWidth}));
  }

  @media (min-width: 768px) {
    font-size: calc(#{$MobSize + px} + #{$AddSize} * (100vw / #{$MaxWidth}));
  }
}



#pricing,
#cta
{
  @include initial-margin(60px, 0px)
}

body {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

#title {
  background-color: #ff4c68 ;
}

#navbarSupportedContent {
  font-size: 120%;
  @media (max-width: 990px){
    font-size: 140%;
  }
  @media (max-width: 480px){
    font-size: 120%;
  }
}

#Tindog-name {
  font-size: 170%;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  @media (max-width: 990px) {
    font-size: 200%;
  }
  @media (max-width: 480px){  
    font-size: 170%;
  }
}

.navbar-toggler {
  font-size: 2rem;
  border: none;
  box-shadow: none;
  &:focus {
    box-shadow: none;
  }
  @media (max-width: 480px){
    font-size: 1.75rem;
  }
}

.btn, .btn-outline-light, .btn-lg {
  box-shadow: none;
  &:active {
    box-shadow: none;
  };
  &:focus {
    box-shadow: none;
  };
  @media (max-width: 375px){
    font-size: 1rem;
  };
  //&:active:focus {
  //  box-shadow: none;
  //}
}

#introduction h1 {
  // font-size: 4.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
  margin-top: 15%;
  @include adaptive-font(72, 40);
  // @media (max-width: 990px){
  //   font-size: 3.5rem;
  // }
  // @media (max-width: 480px){
  //   font-size: 2.5rem;
  // }
}

#introduction.container-fluid {
  padding: 5rem 8% 3rem 8%;
  overflow: hidden;
  height: 850px;
  margin: 0 0 35px 0;
  @media (max-width: 990px){
    padding: 3rem 5% 0 5%;
    height: 870px;
  }
  @media (max-width: 480px){
    padding: 3rem 5% 0 5%;
    height: 670px;
  }
  @media (max-width: 350px){
    padding: 3rem 5% 0 5%;
    height: 670px
  }
}

.title-row {
  @media (max-width: 990px){
    text-align: center;
    padding-bottom: 3rem;
  }
}

.img-row {
  transform: rotate(25deg);
  padding: 0 0 0 10%;
  width: 50%;
  @media (max-width: 990px){
    width: 80%;
    padding: 0 0 0 20%;
  }
}

/* FEATURES */
.features-item {
  text-align: center;
  padding: 0 2%;
  @media (max-width: 990px){
    padding: 0 10% 0 10%
  }
  @include adaptive-font(22, 16);
}

.features-item > span {
  color: #ef8172;
  margin: 0 0 20px 0;
  &:hover{
    color: #ff4c68;
  };
  @include adaptive-font(74, 64);
}

.features-item > h3 {
  font-weight: 900;
  @include adaptive-font(32, 24);
}


#features {
  margin: 120px 0 60px 0;
  padding: 0 2%
}

#features .row {
  @media (max-width: 990px) {
    row-gap: 50px
  }
}


#press img {
  max-width: 100%;
}


/* TESTIMONIALS*/

#testimonials {
  padding: 60px 10% 0 10%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;

  & h2 {
    @include adaptive-font(48, 24);
  }

  & em {
    @include adaptive-font(32, 18);
}
  
  & #testimonials-carousel {
    height: 350px;
    @media (max-width: 990px) {
      height: 320px;
    }
    @media (max-width: 768px) {
      height: 300px;
    }
    @media (max-width: 480px) {
      height: 270px;
    }
    @media (max-width: 350px) {
      height: 250px;
    }
    & .carousel-inner {
      height: inherit;
      & .carousel-item {
      height: inherit;
      }
    }
  }

  & .carousel-box-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: inherit;
  }

  & .img-box {
    position: relative;
    right: 4%;
  }

  & img {
    border-radius: 100%;
    width: 17.5%;
    margin: 20px 20px 0 20px;
    position: relative;
    bottom: 10px;
    @media (max-width: 990px){
      margin-right: 15px;
    }
    @media (max-width: 480px){
      margin-right: 10px
    } 
    @media (max-width: 350px){
      margin-right: 5px
    }
  }

  & .carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 45%;
  }
}

/*PRESS*/

#press {
  background-color: #ef8172;
  text-align: center;
  padding: 60px 5% 60px 5%;
}


/*PRICING*/
  
#pricing {
  text-align: center;
  & > p {
    @include adaptive-font(24, 18);
  }

  & > h2 {
    @include adaptive-font(40, 28);
  }
}

.row.pricing-row{
  padding: 30px 5% 30px 5%;
  align-items: stretch;
  max-width: 100%;
  margin: 0;

  & .card {
    height: 100%;

    & h3 {
      margin-bottom: 0;
      font-weight: 900;
      @include adaptive-font(36, 24);
    }

    & .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & > h2 {
        @include adaptive-font(30, 22);
      }

      & p {
        @include adaptive-font(20, 16);
      }
    } 

    & .button-div {
      & button {
        width: 45%;

        @media (max-width: 768px){
          width: 55%;
        }

        @media (max-width: 480px) {
          width: 70%;
        }
      }
    }
  }
  // & > .card+.card {
  //   @media (min-width: 576px){
  //   margin-left: 0;
  //   border-left: 1px;
  //   border-left-style: solid;
  //   border-left-color:rgba(0, 0, 0, 0.125);
  //   }
  // }

  & .col-md-12 {
    padding: 1%;
    @media (max-width: 990px) {
      padding: 2% 20%;
    }

    @media (max-width: 480px) {
      padding: 2% 10%;
    }
  }
}
