%initial-margin{
  margin: 1.5em
}

#introduction,
#features,
#testimonials,
#press,
#pricing,
#cta
{
  @extend %initial-margin
}

#title {
  background-color: #ff4c68 ;
}

#navbarSupportedContent {
  font-size: 100%;
  @media (max-width: 990px){
    font-size: 170%;
  }
}


#Tindog-name {
  font-size: 130%;
  @media (max-width: 990px) {
    font-size: 200%;
  }
}

.navbar-toggler {
  font-size: 3rem;
  border: none;
  box-shadow: none;
  &:focus {
    box-shadow: none;
  }
  //@media (max-width: 800px) {
  //  font-size: 3rem
  //}
}