@mixin initial-margin($initial-margin){
  margin: $initial-margin;
}


#features,
#testimonials,
#press,
#pricing,
#cta
{
  @include initial-margin(1.5rem)
}

#title {
  background-color: #ff4c68 ;
}

#navbarSupportedContent {
  font-size: 130%;
  @media (max-width: 990px){
    font-size: 150%;
  }
  @media (max-width: 480px){
    font-size: 130%;
  }
}

#Tindog-name {
  font-size: 160%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  @media (max-width: 990px) {
    font-size: 190%;
  }
  @media (max-width: 480px){
    font-size: 160%;
  }
}

.navbar-toggler {
  font-size: 2rem;
  border: none;
  box-shadow: none;
  &:focus {
    box-shadow: none;
  }
  @media (max-width: 480px){
    font-size: 1.75rem;
  }
}

.btn, .btn-outline-light, .btn-lg {
  box-shadow: none;
  &:active {
    box-shadow: none;
  }
  &:active {
    box-shadow: none;
  }
}

#introduction h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
  padding-top: 20%;
}


#introduction.container-fluid {
  padding: 2rem 5%;
}

